<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.exhesham.autoftpsync">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".FTPSettingsActivity"
            android:label=""
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.exhesham.autoftpsync.MainActivity" />
        </activity>



        <activity
            android:name=".HelpActivity"
            android:label=""
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.exhesham.autoftpsync.MainActivity" />
        </activity>
        <activity
            android:name=".RulesActivity"
            android:label="@string/title_activity_rules"
            android:parentActivityName=".MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.exhesham.autoftpsync.MainActivity" />
        </activity>
        <activity
            android:name=".ListFollowedDirsActivity"
            android:label="Pinned Folders"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.exhesham.autoftpsync.MainActivity" />
        </activity>
        <activity
            android:name=".DeviceFileSystemActivity"
            android:label="Phone File System"
            android:parentActivityName=".MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.exhesham.autoftpsync.MainActivity" />
        </activity>

        <activity android:name=".NfsSettingsActivity"
            android:label="SMB Settings"
            android:parentActivityName=".MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.exhesham.autoftpsync.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Backup Phone"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.apps.exhesham.autoftpsync.UploadFilesService"
            android:process=":remote" />

    </application>

</manifest>